---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import TechCapsule from '../components/TechCapsule.astro';
---

<Layout title="João Oliveira">

    <!-- <header>
        <div>
            <p>João Oliveira</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#projects">Projetos</a>
                </li>
                <li>
                    <a href="#contactos">Contactos</a>
                </li>
            </ul>
        </nav>
    </header> -->

    <main>
        <div id="hero">
            <div class="container">
                <h1>João Oliveira</h1>
                <p>Estudante 3ºAno - Licenciatura <strong>Tecnologias da Informação</strong> ESTGA-UA</p>
                <div id="contact-list">
                    <a href="https://www.linkedin.com/in/jo%C3%A3o-oliveira-304134226/" target="_blank">LinkedIn</a>
                    <a href="https://github.com/joaoUA" target="_blank">GitHub</a>
                </div>
            </div>
        </div>

        <div id="projects" class="container">
            <h1>Projetos</h1>
            <Project title='Suporte à Criação de Horários'
                description='Web app para gestão de formulários de restrições dos docentes\
                    para o próximo semestre letivo.'
                >
                <TechCapsule name="Laravel"></TechCapsule>
                <TechCapsule name="Js"></TechCapsule>
                <TechCapsule name="HTML/CSS"></TechCapsule>
            </Project>

            <Project title='Sistema de Gestão de Hótel'
                description='Aplicação de suporte à gestão diária de hóteis (admins, rececionistas, restantes\
                empregados)'
                >
                <TechCapsule name="Java"></TechCapsule>
            </Project>

            <Project title='Estádios Nacionais'
                description='Web App que fornece caminho a percorrer desde o ponto de partida até ao estádio \
                selecionado, destacando os pontos de interesse em redor ao estádio'
                >
                <TechCapsule name='OpenLayers'></TechCapsule>
                <TechCapsule name='Valhalla API'></TechCapsule>
                <TechCapsule name='OpenRouteService'></TechCapsule>
                <TechCapsule name='Js'></TechCapsule>
                <TechCapsule name='HTML/CSS'></TechCapsule>
            </Project>
        </div>
    </main>
</Layout>


<style is:global>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em 1em;

        a {
            text-decoration: none;
            color: var(--accent);
            &:hover {
                color: var(--text);
            }
        }
    }
    nav > ul {
        display: flex;
        gap: 1em;
    }
    
    .container {
        margin: 0 auto;
        max-width: 75%;
    }

    main {
        padding-bottom: 4em;
    }

    footer {
        border: 1px white solid;
    }
    
    #hero {
        padding: 4em 0;
        
        h1 {
            font-family: var(--serif-font);
            letter-spacing: 1px;
            font-size: 3em;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
        }

        strong {
            color: var(--accent);
        }

        a {
            background-color: var(--secondary);
            padding: 0.5rem 1rem;
            border-radius: 0.2em;
            text-decoration: none;
            color: var(--text);
            
            &:hover {
                background-color: var(--accent);
                font-weight: bold;
            }
        }
    }

    #contact-list {
        display: flex;
        gap: 0.75rem;
    }
    
    #projects {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    @media screen and (min-width: 1200px) {
        #projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            h1 {
                grid-column: span 2;
            }
        }
    }
</style>