---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="João Oliveira">
	<header>
		<div class="wrapper">
			<h1 id="brand-name">JP</h1>
			<nav>
				<a href="https://github.com/joao-pmoliveira" class="btn-link" target="_blank">
					<i class="fa-brands fa-github"></i>
					GitHub
				</a>
				<a
					href="www.linkedin.com/in/joão-oliveira-304134226"
					class="btn-link"
					target="_blank"
				>
					<i class="fa-brands fa-linkedin"></i>
					LinkedIn
				</a>
				<a href="mailto:joaooliveiragd@gmail.com" class="btn-link" target="_blank">
					<i class="fa-solid fa-envelope"></i>
					Contact
				</a>
			</nav>
		</div>
	</header>

	<section id="hero-section">
		<div class="wrapper">
			<h1><span class="flag-span">Hi</span>, I'm João Oliveira!</h1>
			<p>Software Developer</p>
		</div>
	</section>

	<main>
		<div class="wrapper">
			<h1>Projects</h1>

			<div id="project-grid">
				<ProjectCard
					imgSource="/img/robot_framework.png"
					imgAltText="RobotFramework Logo"
					title="Test Automation - Modbus Protocol"
					keywords={["Python", "PyModbus", "RobotFramework"]}
				/>

				<ProjectCard
					imgSource="/img/sup_criacao_horarios.png"
					imgAltText="Homepage University Scheduling Helper"
					title="University Scheduling Helper"
					keywords={["Laravel", "PHP", "PostgreSQL"]}
					link="https://github.com/joao-pmoliveira/ptdw-grupo-3"
				/>

				<ProjectCard
					imgSource="/img/estadios_nacionais.png"
					imgAltText="Route From ESTGA to Estádio do Dragão"
					title="National Stadiums Web Guide"
					keywords={["JavaScript", "PostgreSQL", "QGIS", "OpenLayers"]}
					link="https://github.com/joao-pmoliveira/ptas-estadios"
				/>

				<ProjectCard
					imgSource="/img/sistema_gestao_hotel.png"
					imgAltText="Add Reservation Page - Hotel Management System"
					title="Hotel Management System"
					keywords={["Java", "MySQL"]}
					link="https://github.com/joao-pmoliveira/SistemaDeGestaoDeHotel"
				/>
				<ProjectCard
					imgSource="/img/flashcards_android.png"
					imgAltText=""
					title="Flashcards Android App"
					keywords={["Android Studio", "Kotlin", "Firebase"]}
					link="https://github.com/joao-pmoliveira/dadm-flashcards"
				/>

				<ProjectCard
					imgSource="/img/hexcell_automata.png"
					imgAltText=""
					title="Game of Life - Celular Automata"
					keywords={["C", "Raylib"]}
					link="https://github.com/joao-pmoliveira/hexcell-automata"
				/>
			</div>
		</div>
	</main>
</Layout>

<style is:global>
	.wrapper {
		width: min(calc(0.71 * 1600px), 100% - 2rem);
		margin-inline: auto;
	}

	header > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	#hero-section {
		padding: 4rem 0;
		h1 {
			font-size: 4rem;
			font-family: "Quicksand", sans-serif;
		}
		p {
			font-family: "Quicksand", sans-serif;
			font-size: 1.5rem;
		}
	}

	#project-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		row-gap: 2rem;
		column-gap: 1.5rem;
	}

	main {
		margin-bottom: 10rem;
	}

	main h1 {
		margin: 1.5rem 0;
		text-transform: uppercase;
		font-size: 1.5rem;
	}

	nav {
		padding-top: 1rem;
		display: flex;
		gap: 1rem;
	}

	#brand-name {
		font-family: "Italianno", cursive;
	}

	.btn-link {
		background-color: #6a1e55;
		padding: 0.5em 1em;
		width: fit-content;
		color: white;

		&:hover {
			background-color: #a64d79;
			cursor: pointer;
		}

		&,
		&:visited,
		&:hover,
		&:active {
			color: white;
			text-decoration: none;
		}
	}
</style>
