---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
---

<Layout title="João Oliveira">
    <header>
        <div>
            <p>João Oliveira</p>
        </div>
        <nav>
            <ul>
                <li>Projetos</li>
                <li>Contactar</li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div id="hero" class="container">
            <h1>Hey! I'm João Oliveira</h1>
            <p>E este é o meu portefólio :)</p>
        </div>
    </main>

    <section id="projects" class="container">
        <div id="filters-container">
            <label for="tech-checkbox">:)</label>
            <select name="" id="">
                <option value="">---</option>
                <option value="1">Um</option>
            </select>
        </label>
        </div>
        <Project></Project>
        <Project></Project>
    </section>

    <footer>
        <h1>Contacte-me em:</h1>
        <ul>
            <li>email</li>
            <li>linkedin</li>
            <li>github</li>
            <li>youtube</li>
        </ul>
    </footer>
</Layout>


<style is:global>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em 1em;
        border: 1px red solid;
    }
    nav ul {
        display: flex;
        list-style: none;
        gap: 1em;
    }
    .container > * {
        margin: 0 auto;
        width: 75%;
        border: 1px white solid;
    }
    

    #hero {
        background-color: darkslateblue;
        color: white;
        border: aqua 1px solid;
        padding: 4em 0;
    }

    #projects {
        background-color: red;
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin: 0 auto;
        padding: 1.5em 0 3em 0;
    }

</style>