---
import ProjectLink from "./ProjectLink.astro";

interface Props {
    title: string,
    description: string,
    imgSource: string,
}

const {title, description, imgSource} = Astro.props;
---


<div class="projeto">
    <div class="img-container">
        <img src={imgSource} alt="">
    </div>
    <h2>{title}</h2>
    <p>{description}</p>
    <ul class="links">
        <ProjectLink link="#" name="" icon="fa-brands fa-square-github"/>
    </ul>
    <ul class="tech-list">
        <slot/>
    </ul>
</div>


<style>
    /* .projeto {
        border: 1px solid var(--secondary);
        border-radius: 0.5rem;
        padding-bottom: 1rem;

        & > *:not(.img-container) {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    img {
        max-width: 100%;
        aspect-ratio: 16/9;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    h2 {
        font-size: 1.2rem;
        margin: 0.25rem 0;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
    }
    .links {
        display: flex;
        margin-bottom: 0.5rem;

        i {
            font-size: 1.5rem;
        }
    }
    .tech-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
    } */
</style>