---
import ProjectLink from "./ProjectLink.astro";

interface Props {
    title: string,
    description: string,
}

const {title, description} = Astro.props;
---


<div class="project">
    <h2>{title}</h2>
    <p>{description}</p>
    <ul class="links">
        <ProjectLink link="#" name="GitHub"></ProjectLink>
    </ul>
    <ul class="tech-list">
        <slot/>
    </ul>
</div>


<style>
    .project {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.5rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--primary);
    }
    .tech-list {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .links {
        display: flex;
        gap: 0.5rem;
    }
    
    p {
        max-width: 50ch;
        line-height: 1.5em;
        margin-bottom: 1rem;
    }

</style>