---
interface Props {
    link: string,
    icon?: string,
    name?: string
}

const {link, name, icon} = Astro.props;
---


<li>
    <a href={link}>
        {name}
        <i class={icon}></i>
    </a>
</li>


<style>
    /* li {
        border-radius: 1em;
    }
    a {
        color: var(--text);
        text-decoration: none;

        &:hover {
            color: var(--accent);
            text-decoration:underline;
        }
    } */
</style>