---
import TechCapsule from "./TechCapsule.astro";
import ProjectLink from "./ProjectLink.astro";
---

<div class="project">
    <div class="project-content">
        <h1>Title of the project</h1>
        <p>very nice description of the project, and why, and what happenned</p>
        <ul class="tech-list">
            <TechCapsule></TechCapsule>
            <TechCapsule></TechCapsule>
            <TechCapsule></TechCapsule>
            <TechCapsule></TechCapsule>
        </ul>
        <ul class="links">
            <ProjectLink link="#" icon="fa-brands fa-github" name="GitHub"></ProjectLink>
            <ProjectLink link="#" icon="fa-solid fa-newspaper" name="Artigo"></ProjectLink>
        </ul>
    </div>
    <div class="project-thumbnail">
        <img src="" alt="">
    </div>
</div>


<style>
    .project {
        background-color: yellowgreen;
        padding: 1em;
        border-radius: 0.2em;
    }
    p {
        margin-bottom: 1em;
        max-width: 75ch;
    }
    ul {
        list-style: none;
    }
    .tech-list {
        display: flex;
        gap: 0.5em;
        margin-bottom: 0.5em;
    }
    .links {
        display: flex;
        gap: 0.5em;
    }
</style>