---
interface Props {
    name: string,
}
const {name} = Astro.props;
---

<li>{name}</li>


<style>
    /*
    li {
        background-color: var(--accent);
        border-color: var(--accent);
        color: var(--background);
        padding: 0.2em 1em;
        border: 1px solid;
        border-radius: 1em;
        font-size: 0.9em;
    }
        */
</style>