---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <script src="https://kit.fontawesome.com/db18a4139a.js" crossorigin="anonymous"></script>
        </head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    :root {
        /* --background: #080d1c; */
        --background: #27374D;
        /* --primary: #8ea2e0; */
        --primary: #DDE6ED;
        /* --secondary: #7b2482; */
        --secondary: #526D82;
        /* --accent: #c93da3; */
        --accent: #F4CE14;
        /* --text: #dbe1f5; */
        --text: #DDE6ED;

        --serif-font: 'DM Serif Display', serif;
        --sans-font: 'Raleway', sans-serif;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        background-color: var(--background);
        color: var(--text);
        font-family: var(--sans-font);
    }

    ul {
        list-style: none;
    }
</style>
