---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> -->
        <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->
        <!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
        <!-- <link rel="manifest" href="/site.webmanifest"> -->
        <!-- <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"> -->
        <!-- <meta name="msapplication-TileColor" content="#da532c"> -->
        <!-- <meta name="theme-color" content="#000000"> -->

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <script src="https://kit.fontawesome.com/db18a4139a.js" crossorigin="anonymous"></script>
        </head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

    /* "Playfar Display" */
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

    /* Moderustic */
    @import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

    :root {
        --primary-color: #edf2f4;
        --secondary-color: #2b2d42;
        --terciary-color: #8d99ae;
        --accent-color: #ef233c;

        --sfont: 'Playfar Display', Georgia, 'Times New Roman', Times, serif;
        --ssfont: 'Moderustic', Verdana, Geneva, Tahoma, sans-serif;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: var(--ssfont);
    }
    html {
        background-color: var(--terciary-color);
        color: var(--secondary-color);
    }

    ul {
        list-style: none;
    }

    img {
        width: 100%;
    }

    .link {
        border: 1px solid var(--accent-color);
        border-radius: 0.2em;
        padding: 0.2em 0.5em;
        color: var(--accent-color);
        text-decoration: none;
        &:hover {
            color: var(--secondary-color);
            border-color: var(--secondary-color);
        }
    }
</style>
