---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/db18a4139a.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* Merriweather & Lato*/
	@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

	@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

	:root {
		--text-col: #091c12;
		--bg-col: #f4fbf5;
		--primary-col: #805db6;
		--secondary-col: #ac8fda;
		--accent-col: #996ddd;

		--sfont: "Merriweather", Georgia, "Times New Roman", Times, serif;
		--ssfont: "Lato", Verdana, Geneva, Tahoma, sans-serif;

		font-size: 16px;
		--s-txt-size: 0.9rem;
		--m-txt-size: 1rem;
		--l-txt-size: 1.2rem;
		--xl-txt-size: 1.4rem;
	}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: var(--ssfont);
	}

	body {
		background-color: #1a1a1d;
		color: #ffff;
	}

	/* body {
		font-size: var(--m-txt-size);
		background-color: var(--bg-col);
		color: var(--text-col);
	}

	ul {
		list-style: none;
	}

	img {
		width: 100%;
	}

	h1 {
		font-size: var(--xl-txt-size);
	}
	h2 {
		font-size: var(--l-txt-size);
	}
	h3 {
		font-size: var(--m-txt-size);
	}
	p {
		font-size: var(--s-txt-size);
	} */

	/* .link {
        border: 1px solid var(--accent-col);
        border-radius: 0.2em;
        padding: 0.2em 0.5em;
        color: var(--accent-col);
        text-decoration: none;
        &:hover {
            color: var(--secondary-col);
            border-color: var(--secondary-col);
        }
    } */

	/* .container {
		background-color: var(--bg-col);
		max-width: 1200px;
		margin: 0 auto;
		padding: 1rem 2rem;
		padding: 1rem;
		border: 1px fuchsia solid;
	} */
</style>
